td {
  padding: 15px;
}

.height-100p {
  height: 27rem;
}
.card-row {
  display: flex;
  justify-content: space-between;
  width: 75%;
  border-bottom: 1px solid #6c757d27;
}

.card-data {
  flex: 1;
  text-align: center;
  padding: 5px;
}

.shadows {
  box-shadow: 0 1rem 3rem rgba(black, 0.255);
}
.shadows-inset {
  box-shadow: inset 0 1rem 3rem rgba(black, 0.35);
}
