<div class="d-flex flex-column text-center mt-4 mx-5">
    <h1>Welcome to the PokeDex!</h1>
    <div class="mt-5">
        <span class="text-wrap mb-3">Immerse yourself in the fascinating world of Pokémon, where adventures,
            friendships, and
            thrilling battles await you. Explore a variety of Pokémon, collect them in your Pokédex, and train them to
            become the best Pokémon Trainer.</span>
    </div>
    <div class="mt-5">
        <span class="text-wrap mb-3">Discover the unique attributes of each Pokémon, their strengths, weaknesses, and
            the special abilities they possess. Choose your favorite Pokémon and assemble your ultimate team to bravely
            face the challenges ahead.</span>
    </div>
    <div class="mt-5">
        <span class="text-wrap mb-3">Are you ready to embark on an unforgettable journey through the Pokémon world?
            Start your adventures as a Pokémon Trainer now and uncover the mystery behind these captivating
            creatures.</span>
    </div>
    <div class="mt-5">
        <span class="text-wrap mb-3">Catch 'em all and become a master trainer in the PokemonApp! Have fun, and may your
            path be filled with success and friendship.</span>
    </div>
</div>